{{define "Agent"}}

<div class="row" style="padding-bottom: 2rem;">
    <div class="col">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col">
                        <form action="/remove_agent" method="POST" style="width:100%">
                            <input type="hidden" name="pubkey" value="{{.Agent.PubKey}}"></input>
                            <button type="submit" class="btn btn-danger">Remove</button>
                            {{.csrfField }}
                        </form>
                    </div>

                    <div class="col text-center">
                        <h3>
                            {{if .Agent.Name}}

                            <a href="/agent/{{.Agent.PubKey | Hex}}">{{.Agent.Name}}</a>

                            {{else}}

                            <a href="/agent/{{.Agent.PubKey | Hex}}">{{.Agent.PubKey}}</a>

                            {{end}}
                        </h3>
                    </div>

                    <div class="col text-right">
                        <h3>
                            {{if .Agent.CurrentlyConnected}}
                            <span class="badge badge-success">Online</span>
                            {{else}}
                            <span class="badge badge-danger" style="white-space:normal !important;">Offline
                                (Last
                                seen:
                                {{.Agent.LastTransmission | humanTime}})
                            </span>
                            {{end}}
                        </h3>
                    </div>

                </div>


            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col text-center">
                        <h3>{{.Agent.LastConnectionFrom}}</h3>
                    </div>
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Memory Usage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{.Agent.MemoryUsage | limitPrint}}%
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Endpoints</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range $monitor := .Agent.Monitors}}
                                <tr>
                                    <td>
                                        {{$monitor.MonitorEntry.Path}}
                                    </td>
                                    <td>
                                        <h5>

                                            {{if not $.Agent.CurrentlyConnected}}
                                            <span class="badge badge-secondary">UNKNOWN</span>
                                            {{else if $monitor.MonitorEntry.OK}}
                                            <span class="badge badge-success">OK</span>
                                            {{else}}
                                            <span class="badge badge-danger">FAIL</span>
                                            {{end}}
                                        </h5>

                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Disk</th>
                                    <th scope="col">Usage</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{range $disk := .Agent.Disks}}
                                <tr>
                                    <td>
                                        {{$disk.Device}}
                                    </td>
                                    <td>
                                        <h6>

                                            {{if (gt $disk.Usage 0.0) }}
                                            {{$disk.Usage | limitPrint}}%
                                            {{else}}
                                            Error
                                            {{end}}
                                        </h6>

                                    </td>
                                </tr>
                                {{end}}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{{end}}