{{template "Top" .}}

<div class="container">
    <form action="/notification_settings" method="POST">
        <div class="form-group" style="padding-bottom: 5rem;">
            <label for="destinationEmail">Destination Email</label>
            <input type="email" name="destinationEmail" class="form-control" value="{{.DestinationEmail}}">
        </div>
        <div class="form-group">
            <label for="host">Email host</label>
            <input type="text" name="host" class="form-control" value="{{.Host}}">
        </div>
        <div class="form-group">
            <label for="sendFrom">Account Address</label>
            <input type="email" name="sendFrom" class="form-control" value="{{.SendingEmail}}">
        </div>
        <div class="form-group">
            <label for="sendPassword">Password</label>
            <input type="password" name="sendPassword" class="form-control" placeholder="Enter password">
        </div>

        {{if .Status }}
        {{if not .Error}}
        <div class="alert alert-success" role="alert">
            {{.Status}}
        </div>
        {{else}}
        <div class="alert alert-danger" role="alert">
            {{.Status}}
        </div>
        {{end}}
        {{end}}

        {{ .csrfField }}
        <div class="form-group" style="padding-top: 1em">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>


{{template "Bottom" .}}