{{template "Top" . }}

<div class="container space center">
    <h1>Users</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Last Token Created At</th>
                <th scope="col"></th>
            </tr>
        <tbody>
            {{range $user := .Users}}
            <tr>

                <td>{{$user.Username}}</td>
                <td>{{$user.TokenCreatedAt | humanDate}}</td>
                <td>
                    <form action="/remove_user" method="POST">
                        <input type="hidden" name="userid" value="{{$user.GUID}}"></input>
                        <button type="submit" class="btn btn-danger">Delete</button>
                        {{$.csrfField }}
                    </form>
                </td>

            </tr>
            {{end}}

            <tr>

                <td></td>
                <td></td>
                <td>
                    <a href="/create_user" class="btn btn-primary active">Create</a>
                </td>

            </tr>
        </tbody>
        </thead>
    </table>
</div>

{{template "Bottom" .}}